
<html>
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    <script type="text/javascript">
        var app=angular.module('MyApp',['ngStorage']);

        app.controller('MyController',function($scope,$localStorage,$sessionStorage,$window){
        	$scope.Save=function(username){
        		$localStorage.LocaleMessage=username;
        		$sessionStorage.SessionMessage=username;
        	}
        	$scope.Get = function () {
                document.getElementById('demo').innerHTML=$localStorage.LocaleMessage + "\n" + $sessionStorage.SessionMessage;
            }
            /*$localStorage.$reset();*/
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
    <input type="text" name="" ng-model="username">
        <input type="button" value="Save" ng-click="Save(username)" />
        <input type="button" value="Get" ng-click="Get()" />
        <span id="demo"></span>
    </div>
</body>
</html> 